Repository vuejs/core, pull requests merged in 2021-12, with the labels that each got.

#5029 chore(compiler-sfc): fix typo in comments
  packages/compiler-sfc/src/templateTransformSrcset.ts
Labels: ready to merge

#5012 refactor(types): use `DOMRect` instead of the `Position` type
  packages/runtime-dom/src/components/TransitionGroup.ts
Labels: ready to merge

#4974 fix(compat): maintain compatConfig option in legacy functional comp
  packages/runtime-core/src/compat/componentFunctional.ts
  packages/runtime-core/src/component.ts
  packages/vue-compat/__tests__/componentFunctional.spec.ts
Labels: ready to merge, feat: v2 compat

#5099 fix(sfc-playground): hide title to avoid overlap
  packages/sfc-playground/src/Header.vue
Labels: :lady_beetle: bug, sfc-playground
