Repository vuejs/core, pull requests merged in 2021-06, with the labels that each got.

#3965 fix(suspense): emit initial fallback and pending
  packages/runtime-core/__tests__/components/Suspense.spec.ts
  packages/runtime-core/src/components/Suspense.ts
Labels: feat: suspense

#3334 perf: improve VNode creation performance with compiler hints
  packages/compiler-core/__tests__/__snapshots__/codegen.spec.ts.snap
  packages/compiler-core/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-core/__tests__/__snapshots__/scopeId.spec.ts.snap
  packages/compiler-core/__tests__/codegen.spec.ts
  packages/compiler-core/__tests__/scopeId.spec.ts
  packages/compiler-core/__tests__/testUtils.ts
  packages/compiler-core/__tests__/transforms/__snapshots__/hoistStatic.spec.ts.snap
  packages/compiler-core/__tests__/transforms/__snapshots__/transformExpressions.spec.ts.snap
  packages/compiler-core/__tests__/transforms/__snapshots__/transformText.spec.ts.snap
  packages/compiler-core/__tests__/transforms/__snapshots__/vFor.spec.ts.snap
  packages/compiler-core/__tests__/transforms/__snapshots__/vIf.spec.ts.snap
  packages/compiler-core/__tests__/transforms/__snapshots__/vModel.spec.ts.snap
  packages/compiler-core/__tests__/transforms/__snapshots__/vOnce.spec.ts.snap
  packages/compiler-core/__tests__/transforms/__snapshots__/vSlot.spec.ts.snap
  packages/compiler-core/__tests__/transforms/hoistStatic.spec.ts
  packages/compiler-core/__tests__/transforms/transformElement.spec.ts
  packages/compiler-core/__tests__/transforms/vBind.spec.ts
  packages/compiler-core/__tests__/transforms/vIf.spec.ts
  packages/compiler-core/__tests__/transforms/vModel.spec.ts
  packages/compiler-core/src/ast.ts
  packages/compiler-core/src/codegen.ts
  packages/compiler-core/src/options.ts
  packages/compiler-core/src/runtimeHelpers.ts
  packages/compiler-core/src/transform.ts
  packages/compiler-core/src/transforms/hoistStatic.ts
  packages/compiler-core/src/transforms/transformElement.ts
  packages/compiler-core/src/transforms/vFor.ts
  packages/compiler-core/src/transforms/vIf.ts
  packages/compiler-core/src/utils.ts
  packages/compiler-dom/__tests__/__snapshots__/index.spec.ts.snap
  packages/compiler-dom/__tests__/transforms/__snapshots__/vModel.spec.ts.snap
  packages/compiler-dom/__tests__/transforms/__snapshots__/vShow.spec.ts.snap
  packages/compiler-dom/__tests__/transforms/__snapshots__/warnTransitionChildren.spec.ts.snap
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/__snapshots__/compileTemplate.spec.ts.snap
  packages/compiler-sfc/__tests__/__snapshots__/templateTransformAssetUrl.spec.ts.snap
  packages/compiler-sfc/__tests__/__snapshots__/templateTransformSrcset.spec.ts.snap
  packages/compiler-ssr/src/index.ts
  packages/compiler-ssr/src/transforms/ssrTransformComponent.ts
  packages/runtime-core/src/index.ts
  packages/runtime-core/src/vnode.ts
  packages/shared/src/normalizeProp.ts
Labels: :exclamation: p4-important, planned: 3.2

#3995 feat(reactivity): ref-specific track/trigger and miscellaneous optimizations
  packages/reactivity/src/computed.ts
  packages/reactivity/src/effect.ts
  packages/reactivity/src/reactive.ts
  packages/reactivity/src/ref.ts
Labels: :exclamation: p4-important, feat: reactivity, planned: 3.2
