Repository vuejs/core, pull requests merged in 2024-11, with the labels that each got.

#12373 fix(reactivity): ensure watch cleanup on effect scope stop
  packages/reactivity/__tests__/effectScope.spec.ts
  packages/reactivity/src/effectScope.ts
  packages/runtime-core/__tests__/apiWatch.spec.ts
Labels: ready to merge, scope: reactivity, :exclamation: p4-important

#12374 fix(v-once): setting hasOnce to current block only when in v-once
  packages/compiler-core/__tests__/transforms/__snapshots__/vOnce.spec.ts.snap
  packages/compiler-core/src/ast.ts
  packages/compiler-core/src/codegen.ts
  packages/compiler-core/src/transform.ts
  packages/compiler-core/src/transforms/vOnce.ts
  packages/runtime-core/__tests__/rendererOptimizedMode.spec.ts
  packages/runtime-core/__tests__/vnode.spec.ts
  packages/runtime-core/src/vnode.ts
Labels: ready to merge, :exclamation: p4-important

#12014 fix(compiler-core): handle v-memo + v-for with functional key
  packages/compiler-core/__tests__/transforms/__snapshots__/vMemo.spec.ts.snap
  packages/compiler-core/__tests__/transforms/vMemo.spec.ts
  packages/compiler-core/src/transforms/transformExpression.ts
  packages/compiler-core/src/transforms/vFor.ts
Labels: ready to merge, scope: compiler, :hammer: p3-minor-bug

#12400 chore(reactivity): remove unnecessary array copy
  packages/reactivity/src/effectScope.ts
Labels: ready to merge, scope: reactivity, :broom: p1-chore

#12289 chore(deps): update dependency postcss-selector-parser to v7
  packages/compiler-sfc/package.json
  packages/compiler-sfc/src/style/pluginScoped.ts
  pnpm-lock.yaml
Labels: ready to merge, :broom: p1-chore

#12182 fix(Transition): fix transition memory leak edge case
  packages/runtime-core/src/components/BaseTransition.ts
Labels: ready to merge, scope: transition, :hammer: p3-minor-bug

#12343 fix(types): defineEmits w/ interface declaration
  packages-private/dts-test/setupHelpers.test-d.ts
  packages/runtime-core/src/apiSetupHelpers.ts
Labels: ready to merge, scope: types

#12392 fix(compiler-dom): properly stringify template string style
  packages/compiler-dom/__tests__/transforms/__snapshots__/stringifyStatic.spec.ts.snap
  packages/compiler-dom/__tests__/transforms/stringifyStatic.spec.ts
  packages/shared/__tests__/normalizeProp.spec.ts
  packages/shared/src/normalizeProp.ts
Labels: ready to merge, scope: compiler, :cake: p2-nice-to-have

#11690 perf(reactivity): do not track inner key `__v_skip``
  packages/reactivity/src/baseHandlers.ts
Labels: ready to merge, :broom: p1-chore

#12255 fix(hydration): the component vnode's el should be updated when a mismatch occurs.
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
Labels: ready to merge, scope: ssr, :hammer: p3-minor-bug

#12288 fix(transition): reflow before leave-active class after leave-from (#2593), while fixing (#10688)
  packages/runtime-dom/src/components/Transition.ts
  packages/vue/__tests__/e2e/Transition.spec.ts
  packages/vue/__tests__/e2e/e2eUtils.ts
  packages/vue/__tests__/e2e/transition.html
Labels: ready to merge, scope: transition, :hammer: p3-minor-bug

#12311 fix(compiler-ssr): ensure v-text renders correctly with custom directives in SSR output
  packages/compiler-ssr/__tests__/ssrElement.spec.ts
  packages/compiler-ssr/src/transforms/ssrTransformElement.ts
Labels: ready to merge, scope: ssr, :hammer: p3-minor-bug, regression

#12290 fix(templateRef): set ref on cached async component which wrapped in KeepAlive
  packages/runtime-core/__tests__/rendererTemplateRef.spec.ts
  packages/runtime-core/src/rendererTemplateRef.ts
Labels: ready to merge, :hammer: p3-minor-bug

#12399 fix(ssr): handle initial selected state for select with v-model + v-for option
  packages/compiler-ssr/__tests__/ssrVModel.spec.ts
  packages/compiler-ssr/src/transforms/ssrVModel.ts
Labels: ready to merge, scope: ssr, :hammer: p3-minor-bug

#5914 fix(runtime-core): support any signature for Options API lifecycle
  packages/runtime-core/src/componentOptions.ts
Labels: ready to merge, scope: types, :cake: p2-nice-to-have
