Repository vuejs/core, pull requests merged in 2024-07, with the labels that each got.

#10472 fix(repl): avoid duplicate formatter mounts
  packages/runtime-core/src/customFormatter.ts
  packages/sfc-playground/src/App.vue
Labels: :cake: p2-nice-to-have, scope: playground, ready for review

#9609 fix(runtime-core): v-model modifiers trim and number when cases don't match
  packages/runtime-core/__tests__/componentEmits.spec.ts
  packages/runtime-core/src/helpers/useModel.ts
Labels: scope: v-model

#11248 fix: hmr reload should work with async component
  packages/runtime-core/__tests__/hmr.spec.ts
  packages/runtime-core/src/hmr.ts
  packages/runtime-core/src/vnode.ts
Labels: scope: hmr, :hammer: p3-minor-bug, regression, ready for review

#8503 fix(reactivity): shallowReactive map "unwraps" the nested refs
  packages/reactivity/__tests__/reactive.spec.ts
  packages/reactivity/__tests__/shallowReactive.spec.ts
  packages/reactivity/src/collectionHandlers.ts
Labels: scope: reactivity, ready for review

#11159 fix: When patching the elements that use innerHTML or textContent should first `unmountChildren`
  packages/runtime-core/src/hydration.ts
  packages/runtime-core/src/renderer.ts
  packages/runtime-dom/__tests__/patchProps.spec.ts
  packages/runtime-dom/src/modules/props.ts
  packages/runtime-dom/src/patchProp.ts
Labels: 🔩 p2-edge-case

#11403 fix(runtime-dom): handle undefined values in v-html
  packages/runtime-dom/__tests__/patchProps.spec.ts
  packages/runtime-dom/src/modules/props.ts
Labels: ready to merge, :hammer: p3-minor-bug

#11390 chore(runtime-core): remove attrsProxy and slotsProxy from instance
  packages/runtime-core/src/component.ts
Labels: :broom: p1-chore

#11430 fix(defineModel): correct update with multiple changes in same tick
  packages/runtime-core/__tests__/helpers/useModel.spec.ts
  packages/runtime-core/src/helpers/useModel.ts
Labels: :lady_beetle: bug, :exclamation: p4-important
