Repository vuejs/core, pull requests merged in 2025-02, with the labels that each got.

#12862 fix(runtime-core): prevent unmounted vnode from being inserted during transition leave
  packages/runtime-core/src/components/KeepAlive.ts
  packages/runtime-core/src/renderer.ts
  packages/vue/__tests__/e2e/Transition.spec.ts
Labels: ready to merge, :exclamation: p4-important

#12847 perf(vapor): use nthChild instead of nextn
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformChildren.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformChildren.spec.ts
  packages/compiler-vapor/src/generators/template.ts
  packages/runtime-vapor/__tests__/dom/template.spec.ts
  packages/runtime-vapor/src/dom/node.ts
  packages/runtime-vapor/src/index.ts
Labels: scope: vapor

#12824 fix(reactivity): enhance reactive function to handle the WeakMap key
  packages/reactivity/__tests__/reactive.spec.ts
  packages/reactivity/src/reactive.ts
Labels: ready to merge, scope: reactivity, :cake: p2-nice-to-have

#12576 test(reactivity): add tests for reactive and non-reactive objects
  packages/reactivity/__tests__/reactive.spec.ts
Labels: ready to merge, :broom: p1-chore

#12944 ci(pkg-pr-new): add vapor branch
  .github/workflows/ci.yml
Labels: scope: vapor

#12910 fix(vapor): handle vapor mode with empty script
  packages-private/sfc-playground/package.json
  packages/compiler-sfc/__tests__/parse.spec.ts
  packages/compiler-sfc/src/parse.ts
  pnpm-lock.yaml
Labels: scope: vapor

#12820 fix(vapor): handle next host node for vapor component
  packages/runtime-core/src/renderer.ts
Labels: scope: vapor

#12815 fix(compiler-vapor): properly cache variable used in object property shorthand
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/src/generators/expression.ts
Labels: scope: vapor

#12890 feat(runtime-vapor): expose VaporFragment
  packages/runtime-vapor/src/index.ts
Labels: scope: vapor

#12893 feat(compiler-vapor): add jsx support for setText and createTextNode
  packages/compiler-vapor/src/generators/text.ts
  packages/compiler-vapor/src/ir/index.ts
Labels: scope: vapor

#12927 feat(runtime-vapor): support functional component for defineVaporComponent
  packages/runtime-vapor/__tests__/_utils.ts
  packages/runtime-vapor/__tests__/componentProps.spec.ts
  packages/runtime-vapor/src/apiDefineComponent.ts
Labels: scope: vapor
