Repository vuejs/core, pull requests merged in 2025-01, with the labels that each got.

#12563 refactor(compiler-vapor): cache inline handlers passed to component
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/generate.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/generators/event.ts
Labels: scope: vapor

#12568 refactor(compiler-vapor): cache multiple access to the same expression
  packages/compiler-vapor/__tests__/__snapshots__/compile.spec.ts.snap
  packages/compiler-vapor/__tests__/compile.spec.ts
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/src/generators/expression.ts
  packages/compiler-vapor/src/generators/operation.ts
  packages/compiler-vapor/src/ir/index.ts
  packages/compiler-vapor/src/transform.ts
  packages/compiler-vapor/src/transforms/utils.ts
Labels: scope: vapor

#12606 fix(compiler-vapor): once modifier work with component event
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/generators/prop.ts
  packages/compiler-vapor/src/transform.ts
  packages/compiler-vapor/src/transforms/vOn.ts
  packages/runtime-vapor/src/componentEmits.ts
Labels: scope: vapor

#12641 feat(effectScope): allow multiple `on()` calls by tracking call count
  packages/reactivity/__tests__/effectScope.spec.ts
  packages/reactivity/src/effectScope.ts
Labels: scope: vapor

#12570 refactor(reactivity): ports alien-signals 1.0.0
  packages/reactivity/__tests__/computed.spec.ts
  packages/reactivity/src/computed.ts
  packages/reactivity/src/debug.ts
  packages/reactivity/src/dep.ts
  packages/reactivity/src/effect.ts
  packages/reactivity/src/effectScope.ts
  packages/reactivity/src/ref.ts
  packages/reactivity/src/system.ts
  packages/runtime-core/__tests__/apiSetupHelpers.spec.ts
Labels: scope: reactivity, version: minor

#12610 refactor(runtime-vapor): cache delegate event handlers on element
  packages/runtime-vapor/src/componentMetadata.ts
  packages/runtime-vapor/src/dom/event.ts
Labels: scope: vapor

#12614 fix(runtime-vapor): properly normalize emits options if emits is an array
  packages/runtime-vapor/__tests__/componentEmits.spec.ts
  packages/runtime-vapor/src/componentEmits.ts
Labels: scope: vapor

#12660 fix(runtime-vapor): properly handle dynamic slot work with v-if
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/src/componentSlots.ts
Labels: scope: vapor

#12666 refactor(runtime-core): useModel work with vapor mode
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/helpers/useModel.ts
  packages/runtime-vapor/src/component.ts
Labels: scope: vapor

#12677 test(runtime-vapor): port tests from rendererComponent.spec.ts
  packages/runtime-core/__tests__/rendererComponent.spec.ts
  packages/runtime-vapor/__tests__/component.spec.ts
Labels: scope: vapor

#12678 test: update test cases
  packages/runtime-vapor/__tests__/apiLifecycle.spec.ts
  packages/runtime-vapor/__tests__/dom/templateRef.spec.ts
Labels: scope: vapor

#12727 fix(runtime-vapor): properly mount template-only components in production
  packages/runtime-vapor/__tests__/component.spec.ts
  packages/runtime-vapor/src/component.ts
Labels: scope: vapor

#12778 test(e2e): Replace deprecated 'clickCount' property with 'count'
  packages/vue/__tests__/e2e/todomvc.spec.ts
  packages/vue/__tests__/e2e/tree.spec.ts
Labels: ready to merge, :broom: p1-chore
