Repository vuejs/core, pull requests merged in 2025-06, with the labels that each got.

#13362 fix(compiler-core): do not increase newlines in `InEntity` state
  packages/compiler-core/__tests__/parse.spec.ts
  packages/compiler-core/src/tokenizer.ts
Labels: ready to merge, scope: compiler, :cake: p2-nice-to-have

#12648 fix(compile-sfc): handle mapped types work with omit and pick
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Labels: ready to merge, scope: sfc, :hammer: p3-minor-bug

#12831 chore(shared): change PatchFlagNames[PatchFlags.CACHED] from 'HOISTED' to 'CACHED'
  packages/compiler-core/__tests__/transforms/__snapshots__/cacheStatic.spec.ts.snap
  packages/compiler-dom/__tests__/transforms/__snapshots__/stringifyStatic.spec.ts.snap
  packages/compiler-sfc/__tests__/__snapshots__/compileScript.spec.ts.snap
  packages/compiler-sfc/__tests__/__snapshots__/templateTransformAssetUrl.spec.ts.snap
  packages/compiler-sfc/__tests__/__snapshots__/templateTransformSrcset.spec.ts.snap
  packages/shared/src/patchFlags.ts
Labels: ready to merge, :broom: p1-chore

#12607 fix(custom-element): ensure configureApp is applied to async component
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
Labels: ready to merge, :hammer: p3-minor-bug, scope: custom elements

#12804 fix(reactivity): add `__v_skip` flag to `Dep` to prevent reactive conversion
  packages/reactivity/__tests__/readonly.spec.ts
  packages/reactivity/src/dep.ts
Labels: ready to merge, :hammer: p3-minor-bug

#13345 fix(compiler-core): prevent comments from blocking static node hoisting
  packages/compiler-core/__tests__/transforms/__snapshots__/cacheStatic.spec.ts.snap
  packages/compiler-core/__tests__/transforms/cacheStatic.spec.ts
  packages/compiler-core/src/transform.ts
  packages/compiler-core/src/transforms/cacheStatic.ts
  packages/compiler-dom/__tests__/transforms/__snapshots__/stringifyStatic.spec.ts.snap
  packages/compiler-dom/__tests__/transforms/stringifyStatic.spec.ts
Labels: ready to merge, scope: compiler, :hammer: p3-minor-bug

#13467 chore(build): replace node:fs repeated import
  scripts/build.js
Labels: :broom: p1-chore

#13244 fix(compiler-vapor): prevent caching variables in function expression
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformTemplateRef.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformTemplateRef.spec.ts
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/src/generators/expression.ts
Labels: ready to merge, scope: vapor

#13187 fix(runtime-vapor): respect immutability for readonly reactive arrays in `v-for`
  packages/runtime-vapor/__tests__/for.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
Labels: ready to merge, scope: vapor

#13452 fix(compiler-sfc): improved type resolution for function type aliases
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/defineProps.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/defineProps.spec.ts
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Labels: ready to merge, scope: sfc, :hammer: p3-minor-bug, regression

#13009 fix(compiler-vapor): don't generate default slot for whitespace when preserved
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vSlot.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vSlot.spec.ts
  packages/compiler-vapor/src/transforms/transformText.ts
  packages/compiler-vapor/src/transforms/vSlot.ts
Labels: scope: vapor

#13492 fix(runtime-vapor): dynamic component fallback rendering with insertionState
  packages/runtime-vapor/__tests__/apiCreateDynamicComponent.spec.ts
  packages/runtime-vapor/src/component.ts
Labels: scope: vapor

#13346 fix(compiler-vapor): prevent caching UpdateExpression
  packages/compiler-vapor/__tests__/transforms/__snapshots__/expression.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformTemplateRef.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/expression.spec.ts
  packages/compiler-vapor/__tests__/transforms/transformTemplateRef.spec.ts
  packages/compiler-vapor/src/generators/expression.ts
Labels: ready to merge, scope: vapor

#13149 fix(compiler-vapor): prevent v-for components from being single root
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformElement.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/src/transforms/transformElement.ts
  pnpm-lock.yaml
Labels: ready to merge, scope: vapor

#13041 fix(runtime-vapor): properly mount component when using setInsertionState
  packages/runtime-vapor/__tests__/component.spec.ts
  packages/runtime-vapor/src/component.ts
Labels: scope: vapor

#13364 chore(compiler-vapor): use compiler-dom instead of compiler-core
  packages/compiler-vapor/__tests__/transforms/transformElement.spec.ts
  packages/compiler-vapor/__tests__/transforms/transformSlotOutlet.spec.ts
  packages/compiler-vapor/__tests__/transforms/vIf.spec.ts
  packages/compiler-vapor/__tests__/transforms/vSlot.spec.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/generators/prop.ts
  packages/compiler-vapor/src/transforms/transformSlotOutlet.ts
  packages/compiler-vapor/src/transforms/vSlot.ts
Labels: ready to merge, scope: vapor

#13142 fix(runtime-vapor): dynamic component work with insertionState
  packages/runtime-vapor/__tests__/apiCreateDynamicComponent.spec.ts
  packages/runtime-vapor/src/apiCreateDynamicComponent.ts
Labels: scope: vapor

#13466 fix(runtime-vapor): dynamic component attrs fallthrough
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/src/component.ts
  packages/runtime-vapor/src/componentProps.ts
Labels: scope: vapor

#13395 fix(compiler-vapor): remove types for expressions
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOn.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vOn.spec.ts
  packages/compiler-vapor/src/generators/expression.ts
Labels: ready to merge, scope: vapor

#13384 fix(runtime-vapor): should not warn invalid watch source when directly watching props
  packages/runtime-vapor/__tests__/componentProps.spec.ts
  packages/runtime-vapor/src/componentProps.ts
Labels: scope: vapor

#13519 fix(compiler-vapor): properly cache variable with optional chaining
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/src/generators/expression.ts
Labels: ready to merge, scope: vapor

#13525 fix(compiler-sfc): always use defineComponent in SSR mode
  packages/compiler-sfc/src/compileScript.ts
Labels: scope: vapor

#13502 fix(runtime-vapor): ensure props are shallow reactive in VDOM component
  packages/runtime-vapor/src/vdomInterop.ts
Labels: ready to merge, scope: vapor

#13520 fix(compiler-vapor): handle cache variable name substring edge cases
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vBind.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vBind.spec.ts
  packages/compiler-vapor/src/generators/expression.ts
Labels: ready to merge, scope: vapor
