Repository vuejs/core, pull requests merged in 2025-09, with the labels that each got.

#13551 fix(runtime-vapor): handle vapor attrs fallthrough to vdom component
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
  packages/runtime-vapor/src/component.ts
Labels: scope: vapor

#13815 fix(hmr): prevent update unmounting component during HMR reload
  packages/runtime-core/__tests__/hmr.spec.ts
  packages/runtime-core/src/hmr.ts
Labels: ready to merge, scope: hmr, :hammer: p3-minor-bug

#12642 fix(templateRef): prevent unnecessary set ref on dynamic ref change or component unmount
  packages/runtime-core/__tests__/rendererTemplateRef.spec.ts
  packages/runtime-core/src/rendererTemplateRef.ts
Labels: ready to merge, :hammer: p3-minor-bug

#13491 fix(compiler-sfc): support ${configDir} in paths for TypeScript 5.5+
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Labels: ready to merge, scope: sfc, :hammer: p3-minor-bug

#12771 types(jsx): add undefined to optional properties
  packages/runtime-dom/src/jsx.ts
Labels: ready to merge, scope: types, :hammer: p3-minor-bug

#13839 chore: update side effect annotations to use standardized format
  packages/runtime-core/src/apiAsyncComponent.ts
  packages/runtime-core/src/apiDefineComponent.ts
  packages/runtime-core/src/devtools.ts
  packages/runtime-dom/src/apiCustomElement.ts
  packages/shared/src/makeMap.ts
Labels: ready to merge, :broom: p1-chore

#13794 refactor: remove canary release workflows
  .github/workflows/canary-minor.yml
  .github/workflows/canary.yml
  rollup.config.js
  scripts/release.js
Labels: ready to merge, :broom: p1-chore

#9427 fix(compiler-core/v-slot): force dynamic slots when slot referencing scope vars
  packages/compiler-core/__tests__/transforms/vSlot.spec.ts
  packages/compiler-core/src/transforms/vSlot.ts
Labels: scope: slots, scope: compiler, ready for review

#13434 fix(watch): use maximum depth for duplicates
  packages/reactivity/src/watch.ts
  packages/runtime-core/__tests__/apiWatch.spec.ts
Labels: ready to merge, scope: reactivity

#13567 perf: improve regexp performance with non-capturing groups
  packages/compiler-core/src/transforms/vIf.ts
  packages/compiler-core/src/transforms/vSlot.ts
  packages/compiler-core/src/utils.ts
  packages/compiler-dom/src/transforms/stringifyStatic.ts
  packages/compiler-sfc/src/style/pluginScoped.ts
  packages/compiler-sfc/src/template/templateUtils.ts
  packages/compiler-ssr/src/transforms/ssrVIf.ts
  packages/runtime-core/src/compat/global.ts
  packages/runtime-core/src/component.ts
  packages/runtime-dom/src/components/Transition.ts
  packages/runtime-dom/src/components/TransitionGroup.ts
  packages/runtime-dom/src/index.ts
  packages/runtime-dom/src/modules/style.ts
  packages/shared/src/general.ts
Labels: ready to merge, :broom: p1-chore

#13076 fix(Suspence): handle Suspense + KeepAlive HMR updating edge case
  packages/runtime-core/__tests__/hmr.spec.ts
  packages/runtime-core/src/components/BaseTransition.ts
  packages/runtime-core/src/components/Suspense.ts
Labels: ready to merge, scope: suspense, :hammer: p3-minor-bug

#13825 fix(runtime-vapor): setting innerHTML should go through trusted types
  packages/runtime-dom/src/index.ts
  packages/runtime-vapor/src/dom/prop.ts
Labels: version: minor, scope: vapor

#13919 fix(compiler-vapor): escape html for safer template output
  packages/compiler-vapor/__tests__/transforms/transformText.spec.ts
  packages/compiler-vapor/src/transforms/transformComment.ts
  packages/compiler-vapor/src/transforms/transformText.ts
Labels: version: minor, scope: vapor

#12171 fix(compiler-ssr): ensure v-show has a higher priority in SSR
  packages/compiler-ssr/__tests__/ssrVShow.spec.ts
  packages/compiler-ssr/src/transforms/ssrTransformElement.ts
Labels: ready to merge, scope: ssr, :hammer: p3-minor-bug

#13907 fix(custom-element): use PatchFlags.BAIL for slot when props are present
  packages/runtime-core/src/helpers/renderSlot.ts
  packages/runtime-dom/__tests__/customElement.spec.ts
Labels: ready to merge, :hammer: p3-minor-bug, scope: custom elements

#13906 fix(compiler-sfc): add support for `@vue-ignore` in runtime type resolution
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Labels: ready to merge, scope: sfc, :cake: p2-nice-to-have

#13905 fix(reactivity): respect readonly during ref unwrapping
  packages/reactivity/__tests__/readonly.spec.ts
  packages/reactivity/src/baseHandlers.ts
Labels: ready to merge, scope: reactivity, :hammer: p3-minor-bug

#13870 fix(compiler-sfc): prefix digit css custom properties
  packages/compiler-sfc/__tests__/cssVars.spec.ts
  packages/compiler-sfc/src/style/cssVars.ts
Labels: ready to merge, scope: sfc, :hammer: p3-minor-bug

#13900 fix(custom-element): properly mount multiple Teleports in custom element component w/ shadowRoot false
  packages/runtime-core/src/component.ts
  packages/runtime-core/src/components/Teleport.ts
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
Labels: ready to merge, :hammer: p3-minor-bug, scope: custom elements

#13918 chore(types): improve type safety in watch functions and instanceWatch
  packages/runtime-core/src/apiWatch.ts
  packages/runtime-core/src/componentOptions.ts
Labels: ready to merge, :broom: p1-chore

#13848 fix(compiler-sfc): enhance inferRuntimeType to support TSMappedType with indexed access
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Labels: ready to merge, scope: sfc, :hammer: p3-minor-bug

#13853 fix(transition-group): run `forceReflow` on the correct document (fix #13849)
  packages/runtime-dom/src/components/Transition.ts
  packages/runtime-dom/src/components/TransitionGroup.ts
Labels: scope: transition, :cake: p2-nice-to-have
