Repository vuejs/core, pull requests merged in 2025-07, with the labels that each got.

#13563 test(runtime-vapor): add vdomInterop tests
  packages/runtime-vapor/__tests__/_utils.ts
  packages/runtime-vapor/__tests__/componentAttrs.spec.ts
  packages/runtime-vapor/__tests__/vdomInterop.spec.ts
Labels: scope: vapor

#12958 chore: migrate to getCurrentInstance API
  packages/runtime-core/src/apiInject.ts
Labels: ready to merge, :broom: p1-chore

#13590 fix(parse): make 'vapor' property optional
  packages/compiler-sfc/src/parse.ts
Labels: ready to merge, version: minor

#13581 fix(compiler-vapor): add missing dependency for @babel/parser
  packages/compiler-vapor/package.json
  pnpm-lock.yaml
Labels: ready to merge, scope: vapor

#13102 feat(runtime-vapor): support HMR for setup function
  packages/runtime-vapor/src/component.ts
Labels: scope: vapor

#13307 feat(runtime-vapor): expose isVaporComponent
  packages/runtime-vapor/src/index.ts
Labels: scope: vapor

#13278 feat(vapor): generate more efficient runtime code for specific interpolation patterns
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vFor.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vFor.spec.ts
  packages/compiler-vapor/src/generators/block.ts
  packages/compiler-vapor/src/generators/expression.ts
  packages/compiler-vapor/src/generators/for.ts
  packages/compiler-vapor/src/generators/operation.ts
  packages/runtime-vapor/__tests__/for.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
  rollup.config.js
Labels: scope: vapor

#13360 feat(runtime-vapor): add vapor flag for createVaporApp
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-vapor/src/apiCreateApp.ts
Labels: scope: vapor

#13279 perf(vapor): more efficient renderList update algorithm
  packages/runtime-vapor/src/apiCreateFor.ts
Labels: scope: vapor

#13642 fix(compiler-vapor): selectors was not initialized in time when the initial value of createFor source was not empty
  packages/compiler-vapor/__tests__/transforms/__snapshots__/transformTemplateRef.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vFor.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOnce.spec.ts.snap
  packages/compiler-vapor/src/generators/for.ts
  packages/runtime-vapor/__tests__/apiCreateSelector.spec.ts
  packages/runtime-vapor/src/apiCreateFor.ts
Labels: :exclamation: p4-important, scope: vapor

#13626 fix(compiler-vapor): handle special characters in cached variable names
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vOn.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vOn.spec.ts
  packages/compiler-vapor/src/generators/component.ts
  packages/compiler-vapor/src/generators/expression.ts
Labels: ready to merge, scope: vapor

#13592 fix(compiler-vapor): handle empty interpolation
  packages/compiler-vapor/__tests__/transforms/__snapshots__/expression.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/expression.spec.ts
  packages/compiler-vapor/src/transforms/transformText.ts
Labels: scope: vapor

#12553 fix(compiler-core): recognize empty string as non-identifier
  packages/compiler-core/src/utils.ts
Labels: ready to merge, :cake: p2-nice-to-have

#12556 fix(compiler-core): avoid self updates of `v-pre`
  packages/compiler-core/src/parser.ts
  packages/compiler-core/src/utils.ts
Labels: ready to merge, :cake: p2-nice-to-have

#13213 chore(test): report correct value of `__EXTEND_POINT__` when subsequent error codes is less than it
  packages/compiler-dom/src/errors.ts
  packages/compiler-ssr/src/errors.ts
Labels: ready to merge, :broom: p1-chore

#13662 fix(compiler-core): avoid cached text vnodes retaining detached DOM nodes
  packages/compiler-core/__tests__/transforms/__snapshots__/cacheStatic.spec.ts.snap
  packages/compiler-core/src/transforms/cacheStatic.ts
  packages/vue/__tests__/e2e/memory-leak.spec.ts
Labels: ready to merge, scope: compiler, :exclamation: p4-important

#13612 fix(slots): refine internal key checking to support slot names starting with an underscore
  packages/runtime-core/__tests__/componentSlots.spec.ts
  packages/runtime-core/src/componentSlots.ts
Labels: ready to merge, :hammer: p3-minor-bug, regression

#13634 fix(custom-element): ensure exposed methods are accessible from custom elements by making them enumerable
  packages/runtime-core/src/componentOptions.ts
  packages/runtime-dom/__tests__/customElement.spec.ts
Labels: ready to merge, :hammer: p3-minor-bug, scope: custom elements

#13639 fix(compiler-sfc): transform empty srcset w/ includeAbsolute: true
  packages/compiler-sfc/__tests__/__snapshots__/templateTransformSrcset.spec.ts.snap
  packages/compiler-sfc/__tests__/templateTransformSrcset.spec.ts
  packages/compiler-sfc/src/template/transformSrcset.ts
Labels: ready to merge, scope: sfc, :hammer: p3-minor-bug

#13548 fix(compiler-core): identifiers in function parameters should not be inferred as references
  packages/compiler-core/__tests__/utils.spec.ts
  packages/compiler-core/src/babelUtils.ts
Labels: ready to merge, scope: compiler, :hammer: p3-minor-bug

#13396 fix(ssr): ensure empty slots render as a comment node in Transition
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/server-renderer/__tests__/ssrSlot.spec.ts
  packages/server-renderer/src/helpers/ssrRenderSlot.ts
Labels: ready to merge, scope: transition, :hammer: p3-minor-bug, scope:hydration

#13647 dx(runtime-core): fix warning message for useSlots, useAttrs invocation with missing instance
  packages/runtime-core/src/apiSetupHelpers.ts
Labels: ready to merge, :cake: p2-nice-to-have

#13695 chore(runtime-core): use `NO` instead of `()=>false`
  packages/runtime-core/src/rendererTemplateRef.ts
Labels: :cake: p2-nice-to-have

#13701 fix(devtools): clear performance measures
  packages/runtime-core/src/profiling.ts
Labels: ready to merge
