Repository vuejs/core, pull requests merged in 2025-08, with the labels that each got.

#13558 fix(runtime-vapor): properly handle consecutive prepend operations with insertionState
  packages/runtime-vapor/__tests__/componentSlots.spec.ts
  packages/runtime-vapor/src/block.ts
  packages/runtime-vapor/src/dom/prop.ts
  packages/runtime-vapor/src/insertionState.ts
Labels: scope: vapor

#13768 chore(ci): trusted publisher
  .github/workflows/release.yml
Labels: ready to merge

#13691 fix(compiler-core): prevent cached array children from retaining detached dom nodes
  packages/compiler-core/__tests__/transforms/__snapshots__/cacheStatic.spec.ts.snap
  packages/compiler-core/__tests__/transforms/cacheStatic.spec.ts
  packages/compiler-core/src/transforms/cacheStatic.ts
  packages/compiler-dom/__tests__/transforms/__snapshots__/stringifyStatic.spec.ts.snap
  packages/compiler-sfc/__tests__/__snapshots__/templateTransformAssetUrl.spec.ts.snap
  packages/compiler-sfc/__tests__/__snapshots__/templateTransformSrcset.spec.ts.snap
  packages/runtime-core/__tests__/componentSlots.spec.ts
  packages/runtime-core/src/componentSlots.ts
  packages/runtime-core/src/renderer.ts
  packages/vue/__tests__/e2e/memory-leak.spec.ts
Labels: scope: compiler, :exclamation: p4-important

#13507 fix(runtime-core): improve consistency of `PublicInstanceProxyHandlers.has`
  packages/runtime-core/__tests__/componentPublicInstance.spec.ts
  packages/runtime-core/src/componentPublicInstance.ts
Labels: ready to merge, :hammer: p3-minor-bug

#13449 fix(runtime-core): avoid setting direct ref of useTemplateRef in dev
  packages/runtime-core/__tests__/helpers/useTemplateRef.spec.ts
  packages/runtime-core/src/rendererTemplateRef.ts
Labels: ready to merge, :hammer: p3-minor-bug

#12876 fix(compiler-sfc): improve type inference for generic type aliases types
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Labels: ready to merge, scope: sfc, :hammer: p3-minor-bug

#13725 fix(compiler-ssr): disable v-memo transform in ssr vdom fallback branch
  packages/compiler-core/src/transforms/vMemo.ts
  packages/compiler-ssr/__tests__/ssrComponent.spec.ts
Labels: ready to merge, scope: ssr, :hammer: p3-minor-bug
