Repository vuejs/core, pull requests merged in 2025-05, with the labels that each got.

#13223 fix(runtime-core): update __vnode of static nodes when patching along the optimized path
  packages/runtime-core/src/renderer.ts
Labels: ready to merge, :exclamation: p4-important

#13215 fix(compiler-core): remove slot cache from parent renderCache during unmounting
  packages/compiler-core/__tests__/transforms/cacheStatic.spec.ts
  packages/compiler-core/src/transforms/cacheStatic.ts
  packages/compiler-core/src/transforms/vSlot.ts
  packages/runtime-core/src/componentSlots.ts
  packages/runtime-core/src/renderer.ts
Labels: ready to merge, scope: compiler, :exclamation: p4-important

#13183 fix(TransitionGroup): reset prevChildren to prevent memory leak
  packages/runtime-dom/src/components/TransitionGroup.ts
  packages/vue/__tests__/e2e/TransitionGroup.spec.ts
Labels: ready to merge, scope: transition, :exclamation: p4-important

#12341 fix(reactivity): should not recompute if computed does not track reactive data
  packages/reactivity/__tests__/computed.spec.ts
  packages/reactivity/src/effect.ts
Labels: ready to merge, scope: reactivity, :hammer: p3-minor-bug

#12819 fix(teleport): adjust static children traversal for HMR in dev mode
  packages/runtime-core/__tests__/components/Teleport.spec.ts
  packages/runtime-core/src/components/Teleport.ts
Labels: ready to merge, scope: teleport, :hammer: p3-minor-bug

#12441 fix(ssr): properly init slots during ssr rendering
  packages/runtime-core/src/component.ts
  packages/server-renderer/__tests__/ssrSlot.spec.ts
Labels: ready to merge, scope: ssr, :hammer: p3-minor-bug

#12195 fix(slots): properly warn if slot invoked in setup
  packages/runtime-core/__tests__/componentSlots.spec.ts
  packages/runtime-core/src/componentSlots.ts
Labels: ready to merge, :hammer: p3-minor-bug

#13091 fix(runtime-core): respect immutability for readonly reactive arrays in `v-for`
  packages/runtime-core/__tests__/helpers/renderList.spec.ts
  packages/runtime-core/src/helpers/renderList.ts
Labels: ready to merge, :hammer: p3-minor-bug, regression

#12262 fix(hmr): avoid hydration for hmr updating
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/renderer.ts
Labels: ready to merge, scope: hmr, :hammer: p3-minor-bug

#12792 fix(compiler-sfc): fix scope handling for props destructure in function parameters and catch clauses
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/definePropsDestructure.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/definePropsDestructure.spec.ts
  packages/compiler-sfc/src/script/definePropsDestructure.ts
Labels: ready to merge, scope: sfc, :hammer: p3-minor-bug

#10748 fix(runtime-core): inherit comment nodes during block patch in production build
  packages/runtime-core/__tests__/components/Teleport.spec.ts
  packages/runtime-core/src/renderer.ts
Labels: scope: teleport, :hammer: p3-minor-bug, ready for review

#12450 fix(hmr): avoid hydration for hmr root reload
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/apiCreateApp.ts
Labels: ready to merge, scope: hmr, :hammer: p3-minor-bug

#13004 test(compiler-vapor): add index test for v-for
  packages/compiler-vapor/__tests__/transforms/__snapshots__/vFor.spec.ts.snap
  packages/compiler-vapor/__tests__/transforms/vFor.spec.ts
Labels: ready to merge, scope: vapor

#13219 fix(custom-element): allow injecting values ​​from app context in nested elements (fix #13212)
  packages/runtime-core/src/apiCreateApp.ts
  packages/runtime-core/src/apiInject.ts
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
Labels: ready to merge, :hammer: p3-minor-bug, scope: custom elements

#13283 fix(hydration): skip lazy hydration for patched components
  packages/runtime-core/src/apiAsyncComponent.ts
  packages/vue/__tests__/e2e/hydration-strat-media.html
  packages/vue/__tests__/e2e/hydrationStrategies.spec.ts
Labels: ready to merge, :hammer: p3-minor-bug, scope:hydration

#13285 fix(compiler-core): ensure mapping is added only if node source is available
  packages/compiler-core/src/codegen.ts
  packages/compiler-sfc/__tests__/compileTemplate.spec.ts
Labels: ready to merge, scope: compiler, :hammer: p3-minor-bug

#13245 fix(compiler-sfc): improve type inference for TSTypeAliasDeclaration with better runtime type detection
  packages/compiler-sfc/__tests__/compileScript/__snapshots__/defineProps.spec.ts.snap
  packages/compiler-sfc/__tests__/compileScript/defineProps.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Labels: ready to merge, scope: sfc, :hammer: p3-minor-bug

#13306 fix(suspense): handle edge case in patching list nodes within Suspense
  packages/runtime-core/__tests__/rendererOptimizedMode.spec.ts
  packages/runtime-core/src/renderer.ts
Labels: ready to merge, scope: suspense, :hammer: p3-minor-bug

#13301 fix(compiler-sfc): simulate `allowArbitraryExtensions` on resolving type (fix #13295)
  packages/compiler-sfc/__tests__/compileScript/resolveType.spec.ts
  packages/compiler-sfc/src/script/resolveType.ts
Labels: ready to merge, scope: sfc, :hammer: p3-minor-bug

#13320 fix(compiler-dom): improve HTML nesting validation to allow any child element within template tag
  packages/compiler-dom/__tests__/transforms/validateHtmlNesting.spec.ts
  packages/compiler-dom/src/htmlNesting.ts
Labels: ready to merge, scope: compiler, :hammer: p3-minor-bug

#13347 test(compiler-vapor): fix v-for test
  packages/compiler-vapor/__tests__/transforms/vFor.spec.ts
Labels: scope: vapor

#13350 fix(teleport): handle deferred teleport updates before and after mount
  packages/runtime-core/__tests__/components/Teleport.spec.ts
  packages/runtime-core/src/components/Teleport.ts
Labels: ready to merge, scope: teleport, :hammer: p3-minor-bug

#13339 fix(hydration): handle transition appear hydration edge case
  packages/runtime-core/__tests__/hydration.spec.ts
  packages/runtime-core/src/hydration.ts
Labels: scope: transition, :hammer: p3-minor-bug, scope:hydration

#12455 fix(custom-element): preserve appContext during update
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
Labels: ready to merge, :hammer: p3-minor-bug, scope: custom elements

#13216 fix(compat): ensure false value on input value retains attribute
  packages/runtime-dom/src/modules/attrs.ts
  packages/vue-compat/__tests__/misc.spec.ts
Labels: ready to merge, :hammer: p3-minor-bug, scope: v2 compat

#12296 fix(watch): update `oldValue` before running `cb` to prevent stale value
  packages/reactivity/__tests__/watch.spec.ts
  packages/reactivity/src/watch.ts
Labels: ready to merge, scope: reactivity, :hammer: p3-minor-bug

#12870 fix(types): avoid merging component instance into `$props` in `ComponentInstance`
  packages-private/dts-test/componentInstance.test-d.tsx
  packages/runtime-core/src/component.ts
Labels: ready to merge, scope: types, :hammer: p3-minor-bug

#12701 fix(compile-sfc): handle inline template source map in prod build
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/__tests__/compileTemplate.spec.ts
  packages/compiler-sfc/__tests__/utils.ts
  packages/compiler-sfc/src/compileScript.ts
Labels: ready to merge, scope: sfc, :hammer: p3-minor-bug

#13352 fix(compiler-sfc): add error handling for defineModel() without variable assignment
  packages/compiler-sfc/__tests__/compileScript.spec.ts
  packages/compiler-sfc/__tests__/compileScript/defineModel.spec.ts
  packages/compiler-sfc/src/script/defineModel.ts
Labels: ready to merge, scope: compiler, :cake: p2-nice-to-have

#13007 fix(types): exclude `undefined` from inferred prop types with default values
  packages-private/dts-test/defineComponent.test-d.tsx
  packages/runtime-core/src/componentProps.ts
Labels: scope: types

#13201 fix(custom-element): ensure proper remount and prevent redundant slot parsing with shadowRoot false
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
Labels: ready to merge, :hammer: p3-minor-bug, scope: custom elements

#12855 fix(custom-element): properly resolve props for sync component defs
  packages/runtime-dom/__tests__/customElement.spec.ts
  packages/runtime-dom/src/apiCustomElement.ts
Labels: ready to merge, :hammer: p3-minor-bug, scope: custom elements

#12918 fix(compiler-sfc): add scoping tag to trailing universal selector
  packages/compiler-sfc/__tests__/compileStyle.spec.ts
  packages/compiler-sfc/src/style/pluginScoped.ts
Labels: ready to merge, scope: sfc, :hammer: p3-minor-bug

#12993 fix(compat): should not warn COMPILER_V_BIND_OBJECT_ORDER when using v-bind together with v-for
  packages/compiler-core/src/transforms/transformElement.ts
  packages/vue-compat/__tests__/compiler.spec.ts
Labels: ready to merge, :hammer: p3-minor-bug, scope: v2 compat
